extends layout
block header
  #header.home
        .container
          .header-content
            h1
              | We are 
              span.typed
            p Heroic developpers
            ul.list-unstyled.list-social
              li
                a(href='#')
                  i.ion-social-facebook
              li
                a(href='#')
                  i.ion-social-twitter
              li
                a(href='#')
                  i.ion-social-instagram
              li
                a(href='#')
                  i.ion-social-googleplus
              li
                a(href='#')
                  i.ion-social-tumblr
              li
                a(href='#')
                  i.ion-social-dribbble
block content
  .journal-block
    .row
      each perso in persos
        .col-lg-3.col-md-6
          .journal-info
            a(href=`/personnage${perso.id}`)
              img.img-responsiveimg(src=`${perso.images.sm}`)
            .journal-txt
              h4
                a(href=`/personnage${perso.id}`)=perso.name
              p.separator=`${perso.biography.fullName} alias ${perso.biography.aliases}` 