extends layout
block titre_hero
    h2=`${perso.biography.fullName}`
        h3=`name : ${perso.name}`
block content
    .row
        .col-12.col-md-6.text-center
            img(src=`${perso.images.md}`)
        .col-12.col-md-6
            p.stats="intelligence : "
            .progress.progress-bar(role='progressbar', style=`width: ${perso.powerstats.intelligence}%;`, aria-valuenow=`${perso.powerstats.intelligence}`, aria-valuemin='0', aria-valuemax='100')=`${perso.powerstats.intelligence}`  
            p.stats.stats=`strength :` 
            .progress.progress-bar(role='progressbar', style=`width: ${perso.powerstats.strength}%;`, aria-valuenow=`${perso.powerstats.strength}`, aria-valuemin='0', aria-valuemax='100')=`${perso.powerstats.strength}`  
            p.stats=`speed : `
            .progress.progress-bar(role='progressbar', style=`width: ${perso.powerstats.speed}%;`, aria-valuenow=`${perso.powerstats.speed}`, aria-valuemin='0', aria-valuemax='100')=`${perso.powerstats.speed}`  
            p.stats=`durability: `
            .progress.progress-bar(role='progressbar', style=`width: ${perso.powerstats.durability}%;`, aria-valuenow=`${perso.powerstats.durability}`, aria-valuemin='0', aria-valuemax='100')=`${perso.powerstats.durability}`  
            p.stats=`combat : `
            .progress.progress-bar(role='progressbar', style=`width: ${perso.powerstats.combat}%;`, aria-valuenow=`${perso.powerstats.combat}`, aria-valuemin='0', aria-valuemax='100')=`${perso.powerstats.combat}`  
            p.stats=`power : `
            .progress.progress-bar(role='progressbar', style=`width: ${perso.powerstats.power}%;`, aria-valuenow=`${perso.powerstats.power}`, aria-valuemin='0', aria-valuemax='100')=`${perso.powerstats.power}` 
    .row 
        .col-3
            h5="appearance"
                p=`gender : ${perso.appearance.gender}`
                p=`race : ${perso.appearance.race}`
                p=`height : ${perso.appearance.height[1]}`
                p=`weight : ${perso.appearance.weight[1]}`
        .col-3
        h5="biography"
            p=`opponence : ${perso.biography.alterEgos}`
            p=`aliases : ${perso.biography.aliases}`
            p=`first appearance : ${perso.biography.firstAppearance}`
        .col-3    
        h5= `Work`
            p=`occupation : ${perso.work.occupation}`
    