extends layout

block content
    .row
        .col-4
            .card
                .card-content.card-image
                    img(src=`${perso.images.md}`)
                    
                    p=perso.biography.fullName
                    p=perso.work.occupation
                    p=perso.id
                    p=perso.name
